{% extends "admin/base.html" %}

{% block branding %}
<div style="display: flex; flex-direction: column; align-items: flex-start; gap: 8px;">

    <div id="site-name">
        <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
    </div>
    {% if user.is_authenticated and user.is_staff %}
        {% if '/admin/stats/' not in request.path %}
            <a href="/admin/stats/" style="
                background-color: #f5dd5d;
                color: #417690 !important;
                padding: 4px 12px;
                border-radius: 20px;
                text-decoration: none;
                font-size: 13px;
                font-weight: 800;
                margin-top: 5px;
                display: inline-flex;
                align-items: center;
                gap: 5px;
                text-transform: uppercase;">
            <span> XEM THỐNG KÊ</span>
</a>

        {% endif %}
    {% endif %}
</div>

{# Phần này giữ nguyên để không mất nút chuyển Dark/Light mode #}
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}